In [ ]:
# Python就内置了SQLite3

In [2]:
import sqlite3
conn = sqlite3.connect('test.db')
cursor = conn.cursor()
cursor.execute('create table user (id varchar(20) primary key, name varchar(20))')
cursor.execute('insert into user (id, name) values (\'1\', \'Michael\')')

In [4]:
cursor.rowcount

1

In [5]:
cursor.close()

In [6]:
conn.commit()

In [7]:
conn.close()